<h1>Course Assignments</h1>

<% @students.each do |student| %>
<h2><%= student.name %></h2>
<div class="student-courses">
  <table class="table table-condensed">
    <tr>
      <th>Registered</th>
      <th>Name</th>
    </tr>
    <tbody>
      <% student.course_assignment.each do |course, assignment| %>
      <tr>
	<td>
	  <% if assignment[:registered] %>
	  yes
	  <% else %>
	  no
	  <% end %>
	</td>
	<td><%= course.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
