<div id="regConfirmDiv">
	<h1 id="regConfirmTitle">Congratulations! <br>You have registered with Friends of Children with Special Needs! </h1>

	<div id="regConfirmBody">
	<p> Please check your email for details.<br> You can now select course for your children.</p>
	</div>
</div>