<tr>
  <td>
    <h1> <%= link_to 'Manage Coordinators', approvals_path %> </h1>
    <h1> <%= link_to 'Manage Instructors', courses_path %> </h1>
    <h1> <%= link_to 'Manage Terms', terms_path %> </h1>
  </td>
</tr>