<tr>
  <td>
    <%= link_to 'Manage Student Course Approvals', approvals_path %> <p></p>
    <%= link_to 'Manage Courses', courses_path %> <p></p>
    <%= link_to 'Manage Terms', terms_path %>
  </td>
</tr>